<div class="row">
  <div class="col-12">
    <h1 align="center">¡Estamos dispuestos a mejorar!</h1>
    <h1 align="center">Atenderemos y tomaremos en cuenta tu opinión</h1>
  </div>
</div>
<div class="row">
  <div class="col-6">
      <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Pregunta, Queja o reclamo: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
      </form>
  </div>
  <div class="col-6">
      <h3 align="center">Historial</h3>
      <table class="table table-sm table-danger">
          <thead>
            <tr >
              <th scope="col">PQR</th>
              <th scope="col">Respuesta</th>
            </tr>
          </thead>
          <tbody class="table-light"> 
            <tr>
              <th scope="row">Mi queja</th>
              <td>Resultado</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>