<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-secondary">PQR</span></h1>
    <h1 align="center">¡Estamos dispuestos a mejorar!</h1>
    <h2 align="center">Comentanos tu necesidad y será atendida</h2>
    <h4>Aquí puedes realizar:</h4>
    <span class="badge badge-success">Preguntas</span>
    <span class="badge badge-success">Quejas</span>
    <span class="badge badge-success">Reclamos</span>
    <span class="badge badge-success">Trámites de Dominio</span>
    <span class="badge badge-success">Reporte de Errores</span>
  </div>
</div>

<div class="row">
  <div class="col-6">
      <form>
          <div class="form-group">
              <select class="form-control"  name="tarjeta" required>
                  <option value="0"  selected>--Selecciona--</option>
                  <option value="1">Peticiones/Quejas/Reclamos</option>
                  <option value="2">Trámites Dominio</option>
                  <option value="3">Reporte Errores</option>
                </select>
            <label for="exampleFormControlTextarea1">Enviar Mensaje: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <div>
        <button type="submit" class="btn btn-primary" align="center">Enviar</button>
      </div>
      </form>
  </div>
  <div class="col-6">
      <h3 align="center">Historial</h3>
      <table class="table table-sm table-danger">
          <thead>
            <tr >
              <th scope="col">PQR</th>
              <th scope="col">Respuesta</th>
              <th scope="col">Tipo</th>
            </tr>
          </thead>
          <tbody class="table-light" *ngFor="let x of pqrCliente"> 
            <tr>
              <th scope="row">{{x.descripcion}}</th>
              <td>{{x.respuesta}}</td>
              <td>{{x.nom_t_ticket}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>