<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-secondary">PQR</span></h1>
    <h1 align="center">¡Estamos dispuestos a mejorar!</h1>
    <h2 align="center">Comentanos tu necesidad y será atendida</h2>
    <h4>Aquí puedes realizar:</h4>
    <span class="badge badge-success">Preguntas</span>
    <span class="badge badge-success">Quejas</span>
    <span class="badge badge-success">Reclamos</span>
    <span class="badge badge-success">Cambios de Host</span>
    <span class="badge badge-success">Cambios de plan</span>
    <span class="badge badge-success">Cambios de paquetes</span>
    <span class="badge badge-success">etc.</span>
  </div>
</div>
<div class="row">
  <div class="col-6">
      <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Petición, Queja o reclamo: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
  </div>
  <div class="col-6">
      <h3 align="center">Historial</h3>
      <table class="table table-sm table-danger">
          <thead>
            <tr >
              <th scope="col">PQR</th>
              <th scope="col">Respuesta</th>
            </tr>
          </thead>
          <tbody class="table-light"> 
            <tr>
              <th scope="row">Mi queja</th>
              <td>Resultado</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>