<br/>
<br/>
<br/>
<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-warning">Listado de Distribuidores</span></h1>
    <h1 align="center">Aquí podrás ver la información de todos los distribuidores que estan con ChibchaWeb</h1>
  </div>
</div>




<table class="table table-sm" >
  <thead class="table-warning">
  <tr >
    <th scope="col">Nombre del distribuidor</th>
    <th scope="col">Correo</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody class="bg-light" *ngFor="let listadoDistribuidores of listadoDistribuidoresG">
  <tr>
    <th scope="row">{{listadoDistribuidores.nombre}}</th>
    <td>{{listadoDistribuidores.correo}}</td>
    <td>
      <button mat-button (click)="navegar(listadoDistribuidores.cedula)">Más Información</button>
    </td>
  </tr>
  </tbody>
</table>
