<br/>
<br/>
<div class="row">
  <div class="col-3">
    <img class="imgResponsive rounded-circle mx-auto d-block" src="../../../assets/images/cliente.png">
  </div>
  <div class="col-3">
      <br/>
  </div>
  <div class="col-6" >
    <div class="row">
      <h2 >{{clienteGrafico.nombre}}</h2>
    </div>
    <div class="row">
        <table class="table table-sm" >
            <thead class="table-warning">
              <tr   class="table-info">
                <th scope="col">Nombre del dominio</th>
                <th scope="col">Host</th>
              </tr>
            </thead>
            <tbody class="bg-light" *ngFor="let dominios of clienteDominiosG"> 
              <tr>
                <th scope="row">{{dominios.nom_dominio}}</th>
                <td>{{dominios.nombre}}</td>
              </tr>
            </tbody>
          </table>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <form class="example-form">

      <mat-form-field class="example-full-width">
          <input matInput  [(ngModel)]="clienteGrafico.nombre" placeholder="Nombre" value="{{clienteGrafico.nombre}}" name="nombre" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput name="correo" [(ngModel)]="clienteGrafico.correo" placeholder="Correo"  value="{{clienteGrafico.correo}}" >
      </mat-form-field>
      <label>Modo de pago</label>
      <input class="form-control" type="text" value="Crédito" readonly>
      <label>Plan de pago</label>
      <input class="form-control" type="text" value="{{clienteGrafico.nom_p_pago}}" readonly>
      <label>Chibcha Plan</label>
      <input class="form-control" type="text" value="{{clienteGrafico.nom_paquete}}" readonly>
      <label> </label>
      <label for="exampleFormControlTextarea1">Contraseña Actual</label>
      <input type="password" class="form-control" name="contrasenia" [(ngModel)]="clienteGrafico.contrasenia" id="exampleFormControlTextarea1" value="{{clienteGrafico.contrasenia}}"  rows="1"/>
      <label for="exampleFormControlTextarea2">Nueva Contraseña</label>
      <input type="text" class="form-control" id="exampleFormControlTextarea2" rows="1"/>
      <br/>
      <button mat-raised-button class="btn btn-primary" (click)="guardarInfoCliente()">Cambiar Información</button>
      
      <!--mat-select placeholder="Tipo de pago">
          <mat-option *ngFor="let food of foods" [value]="food.value" >
            {{food.viewValue}}
          </mat-option>
        </mat-select>-->

      
      </form>
  </div>
  <div class="col-6">
    <!-- Modal Tarjeta-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Datos de tu tarjeta</h5>

          </div>
          <div class="modal-body">
            <modal-tarjeta></modal-tarjeta>
          </div>
        </div>
      </div>
  </div>
</div>