<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-secondary">Nuevo Dominio</span></h1>
    <h1 align="center">Aqui podras crear tu propio dominio</h1>
    <h2 align="center">Completa los datos de manera correcta</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
      <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Nombre del dominio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
            <label for="exampleFormControlTextarea2">Nombre del host</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="1"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Crear Dominio</button>
      </form>
  </div>
 
</div>