<br/>
<br/>
<br/>
<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-warning">Listado de Empleados</span></h1>
    <h1 align="center">Aquí podrás ver la información de todos los empleados de ChibchaWeb</h1>
  </div>
</div>


  <table class="table table-sm" >
    <thead class="table-warning">
    <tr >
      <th scope="col">Nombre del cliente</th>
      <th scope="col">Correo</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody class="bg-light" *ngFor="let listadoEmpleados of listadoEmpleadosG">
    <tr>
      <th scope="row">{{listadoEmpleados.nombre}}</th>
      <td>{{listadoEmpleados.correo}}</td>
      <td>
        <button mat-button (click)="navegar(listadoEmpleados.cedula)">Mas Informacion</button>
      </td>
    </tr>
    </tbody>
  </table>

