<!--The content below is only a placeholder and can be replaced.-->
<app-nav-principal></app-nav-principal>
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
		<input type="radio" name="slides" checked="checked" id="slides_1" />
		<input type="radio" name="slides" id="slides_2" />
		<input type="radio" name="slides" id="slides_3" />
		<input type="radio" name="slides" id="slides_4" />
		<ul>
			<li>
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh">¡Bienvenido <span>a <span class="clr">ChibchaWeb!</span></span></h3>
								<h4 class="text-wh">¡Tu sitio <span>intermediario de host!</span></h4>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top1">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh">¡Excelentes <span> <span class="clr">Precios!</span></span></h3>
								<h4 class="text-wh">¡Avanza con<span> nosotros!</span></h4>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top2">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh">¡Los <span>mejores <span class="clr">HOST!</span></span></h3>
								<h4 class="text-wh">¡Sigue <span>con ChibchaWeb!</span></h4>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top3">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh">Mejora tu <span> <span class="clr"> Plan</span></span></h3>
								<h4 class="text-wh">Hostea en <span>ChibchaWeb</span></h4>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="arrows">
			<label for="slides_1"></label>
			<label for="slides_2"></label>
			<label for="slides_3"></label>
			<label for="slides_4"></label>
		</div>
	</div>
</section>
<br><br>
<section class="bottom-banner-w3layouts">
	<div class="d-lg-flex">
		<div class="col-lg-7 p-lg-0 text-lg-right text-center mt-lg-0 mt-4 bottom-left">
		</div>
		<div class="col-lg-5 banner-about text-center">
			<span class="fa fa-scissors"></span>
				<h4 class="mt-sm-4 mt-2">¡ChibchaWeb con el mejor servicio!</h4>
				<h5 class="bottom mt-m-4 mt-3">¿Que si vale la pena?</h5>
				<p class="">Esta nueva plataforma intermediaria entre tú y los host para tu página web te brinda los mejores
					precios. Escoge alguno de nuestros planes, ChibchaPlata, ChibchaOro o ChinchaPlatino y disfruta de todo lo que
					te podemos ofrecer.
				</p>
		</div>
	</div>
</section>


<!-- team -->
<section class="team py-5" id="team">
	<div class="container py-md-4">
		<div class="title-desc text-center">
			<h3 class="heading text-capitalize mb-md-5 mb-4">Algunos de nuestros asociados</h3>
		</div>
		<div class="row team-grid">
			<div class="col-lg-3 col-sm-6">
				<div class="box13">
					<img src="assets/images/servidor1.png" class="img-fluid img-thumbnail" alt="" />
					<div class="box-content">
						<h3 class="title">Hostinger</h3>
						<span class="post">Socio ChibchaWeb</span>
						<ul class="social">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
				<div class="box13">
					<img src="assets/images/servidor2.png" class="img-fluid img-thumbnail" alt="" />
					<div class="box-content">
						<h3 class="title">Hostgator</h3>
						<span class="post">Socio ChibchaWeb</span>
						<ul class="social">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="box13">
					<img src="assets/images/servidor3.jpg" class="img-fluid img-thumbnail" alt="" />
					<div class="box-content">
						<h3 class="title">SiteGround</h3>
						<span class="post">Socio ChibchaWeb</span>
						<ul class="social">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="box13">
					<img src="assets/images/servidor4.png" class="img-fluid img-thumbnail" alt="" />
					<div class="box-content">
						<h3 class="title">WebEmpresa</h3>
						<span class="post">Socio ChibchaWeb</span>
						<ul class="social">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //team -->



<router-outlet></router-outlet>

<app-sidebar-cliente></app-sidebar-cliente>
