.descrip {
  border: solid 1px #000000;
  text-align: justify;
  height: 100%;
}

.mat-button {
  background-color: lightgrey;
}

.imgResponsive{
  max-width: 90%;
  height: auto;
}

.col-9 {
  top: 60px;
}
