<form>
  <div class="form-group">

    <label for="validationCustom01">Nombres</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre" required>
    <label for="validationCustom02">Apellidos</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Apellido" required>

    <label for="exampleInputEmail1">Dirección Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre@ejemplo.com">
      <small id="emailHelp" class="form-text text-muted">¡Asegurate de escribirlo correctamente!</small>

    <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">

  </div>
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>