<form>
  <div class="form-group">

    <label for="validationCustom01">Nombre</label>
      <input type="text" class="form-control" id="validationCustom01"  [(ngModel)]="cliente.nombre" placeholder="Nombre" required>

    <label for="exampleInputEmail1">Dirección Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="cliente.correo" aria-describedby="emailHelp" placeholder="nombre@ejemplo.com">
      <small id="emailHelp" class="form-text text-muted">¡Asegurate de escribirlo correctamente!</small>

    <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="cliente.contrasenia" placeholder="Contraseña">

  </div>
  <button type="submit"  (click)="nuevaPersona()" class="btn btn-primary">Iniciar sesión</button>
</form>