<br>

<div class="row">
  <div align="center" class="col-12">
    <h1><span class="badge badge-success">Empleado</span></h1>
  </div>
</div>

<br>

<div class="row">
  <div class="col-12" align="left">
    <label><span class="badge">Información del empleado</span></label>
  </div>
</div>

<div class="row" style="border: solid 1px lightgray">
  <div class="col-3" align="center">
    <label><b>Nombre del empleado:</b> {{empleadoGrafico.nombre}}</label>
  </div>

  <div class="col-3" align="center">
    <label><b>Cedula:</b> {{empleadoGrafico.cedula}}</label>
  </div>

  <div class="col-3" align="center">
    <label><b>Correo:</b> {{empleadoGrafico.correo}}</label>
  </div>

  <div class="col-3" align="center">
    <label><b>Cargo:</b> {{empleadoGrafico.nom_t_empleado}}</label>
  </div>
</div>

<br>


<br>
<br>
<br>


<div class="row">
  <div class="col-3" align="center">
    <img class="imgResponsive" align="center" src="../../../../assets/images/chiblogo.png">
  </div>

  <div class="col-9">
    <h1 align="center"><span class="badge">Somos el mejor servicio!</span></h1>
  </div>
</div>
