<br/>
<h1 align="center"><span class="badge badge-warning">Solicitudes por los clientes</span></h1>
<h1 align="center">¡Ten un exelente día!</h1>
<h2 align="center">Aquí puedes responder solicitudes</h2>
<h4>Solicitudes por evaluar:</h4>

<div class="Table" align="center">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="Tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo de Solicitud</th>
      <td mat-cell *matCellDef="let element"> {{element.Tipo}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Cliente">
      <th mat-header-cell *matHeaderCellDef> Nombre del Cliente</th>
      <td mat-cell *matCellDef="let element"> {{element.Cliente}}</td>
    </ng-container>

    <ng-container matColumnDef="abrir">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="navegar(element)">Abrir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
