<br/>
<h1 align="center"><span class="badge badge-warning">Solicitudes por los clientes</span></h1>
<h1 align="center">¡Ten un excelente día!</h1>
<h2 align="center">Aquí puedes responder solicitudes</h2>
<h4>Solicitudes por evaluar:</h4>

<table class="table table-sm" >
  <thead class="table-warning">
  <tr >
    <th scope="col">Nombre dominio</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody class="bg-light" *ngFor="let ticket of ticketsEmpleado">
  <tr>
    <td>
      {{ticket.nom_dominio}}
    </td>
    <td>
      <button mat-button (click)="navegar(ticket.cod_ticket)">Abrir</button>
    </td>
  </tr>
  </tbody>
</table>
