<form>
        <div class="form-group">
          <label for="validationCustom01">Tarjeta de crédito</label>
          <select class="form-control form-control-lg" name="tarjeta" required>
                <option value="0">Selecciona</option>
                <option value="1">MasterCard</option>
                <option value="2">Visa</option>
                <option value="3">American Express</option>
          </select>
          <label for="validationCustom02">Número</label>
            <input type="number" class="form-control" id="validationCustom02" placeholder="Número de tarjeta" required>

            <label for="validationCustom02">Fecha de vencimiento </label>
            <input type="date" class="form-control" id="validationCustom02" required>

            <label for="validationCustom02">Nombre completo</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Nombre completo" required>

            <label for="validationCustom02">CCV</label>
            <input type="number" class="form-control" id="validationCustom02" placeholder="CCV" required>
      
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
</form>