<div class="row">
  <div class="col-3">
    <img class="imgResponsive rounded mx-auto d-block" src="../../../assets/images/LogoCW.jpg">
  </div>
  <div class="col-3">
      <br/>
  </div>

</div>
<div class="row">
  <div class="col-6">
    <form class="example-form">

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Correo">
      </mat-form-field>
      <label>Modo de pago</label>
      <input class="form-control" type="text" value="Crédito" readonly>
      <label>Plan de pago</label>
      <input class="form-control" type="text" value="" readonly>

      <!--mat-select placeholder="Tipo de pago">
          <mat-option *ngFor="let food of foods" [value]="food.value" >
            {{food.viewValue}}
          </mat-option>
        </mat-select>-->

      
      </form>
  </div>
  
</div>