<br/>
<br/>
<div class="row">
  <div class="col-3">
    <img class="imgResponsive rounded-circle mx-auto d-block" src="../../../assets/images/admin.png">
  </div>
  <div class="col-3">
      <br/>
  </div>
  <div class="col-6">
    <h1 align="center">Administrador <br/>ChibchaWeb</h1>
  </div>

</div>
<div class="row">
  <div class="col-6">
    <form class="example-form">

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre" value="{{ adminGrafico.nombre }}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Correo" value="{{ adminGrafico.correo }}">
      </mat-form-field>

      <!--mat-select placeholder="Tipo de pago">
          <mat-option *ngFor="let food of foods" [value]="food.value" >
            {{food.viewValue}}
          </mat-option>
        </mat-select>-->


      </form>
  </div>
  <div class="col-6">
      <img class="imgResponsive rounded-circle mx-auto d-block" src="../../../assets/images/CW1.png">
  </div>

</div>
