.n-.mat-button {
  background-color: lightgrey;
}

.listHost {
  border: solid 1px lightgrey;
}

.imgResponsive {
  max-width: 90%;
  height: auto;
}

.col-9 {
  top: 60px;
}

.mat-button {
  position: absolute;
  top: 20%;
  background-color: lightgrey;
}

.respuesta {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
