  <div class="row">
    <div class="col-3">
      <img class="imgResponsive rounded mx-auto d-block" src="../../../assets/images/LogoCW.jpg">
    </div>
    <div class="col-3">
        <br/>
    </div>
    <div class="col-6" >
      <div class="row">
        <h1 >Perfil</h1>
      </div>
      <div class="row">
          <table class="table table-sm table-dark">
              <thead>
                <tr >
                  <th scope="col">Nombre del dominio</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Plan</th>
                </tr>
              </thead>
              <tbody class="bg-danger"> 
                <tr>
                  <th scope="row">ElMenWeb</th>
                  <th scope="row">Yoprro</th>
                  <td>Aceptado</td>
                  <td>ChibchaOro</td>
                </tr>
              </tbody>
            </table>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form class="example-form">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo">
        </mat-form-field>
        <label>Modo de pago</label>
        <input class="form-control" type="text" value="Crédito" readonly>
        <label>Plan de pago</label>
        <input class="form-control" type="text" value="" readonly>

        <!--mat-select placeholder="Tipo de pago">
            <mat-option *ngFor="let food of foods" [value]="food.value" >
              {{food.viewValue}}
            </mat-option>
          </mat-select>-->

        
        </form>
    </div>
    <div class="col-6">
      <!-- Modal Tarjeta-->
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Añadir tarjeta</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <modal-tarjeta></modal-tarjeta>
            </div>
          </div>
        </div>
    </div>
  </div>