<br/>
<br/>
  <div class="row">
    <div class="col-3">
      <img class="imgResponsive rounded-circle mx-auto d-block" src="../../../assets/images/perfil.png">
    </div>
    <div class="col-3">
        <br/>
    </div>
    <div class="col-6" >
      <div class="row">
        <h1 >Dominios registrados</h1>
      </div>
      <div class="row">
          <table class="table table-sm ">
              <thead class="table-warning">
                <tr>
                  <th scope="col">Nombre del dominio</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Host</th>
                </tr>
              </thead>
              <tbody class="table-light" *ngFor="let x of arrdominioGrafico" > 
                <tr >
                  <td >{{x.nom_dominio}}</td>
                  <td >{{x.nombre}}</td>
                  <td>{{x.nom_registrador}}</td>
                </tr>
              </tbody>
            </table>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form class="example-form">

        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="distribuidorGrafico.nombre" placeholder="Nombre" value="{{distribuidorGrafico.nombre}}" name="nombre">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="distribuidorGrafico.correo" placeholder="Correo"  name="correo" value="{{distribuidorGrafico.correo}}">
        </mat-form-field>
        <label for="exampleFormControlTextarea1">Contraseña Actual</label>
        <input type="password" class="form-control" name="contrasenia" [(ngModel)]="distribuidorGrafico.contrasenia" id="exampleFormControlTextarea1" value="{{distribuidorGrafico.contrasenia}}" rows="1"/>
        <label for="exampleFormControlTextarea2">Nueva Contraseña</label>
        <input type="text" class="form-control" id="exampleFormControlTextarea2" rows="1"/>
        <br/>
        <button mat-raised-button (click)="guardarInfoDistribuidor()">Cambiar Información</button>
        </form>
    </div>

  </div>