<br/>
<br/>
<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-success">Nuevo Distribuidor</span></h1>
    <h1 align="center">¡Añade a un nuevo distribuidor!</h1>
  </div>
</div>
<div class="row">
  <div class="col-6">
      <form id="myform">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" name="nombre" [(ngModel)]="distribuidorGrafico.nombre" rows="1"/>
            <label for="exampleFormControlTextarea2">Cédula</label>
            <input type="number" class="form-control" id="exampleFormControlTextarea2" name="cedula" [(ngModel)]="distribuidorGrafico.cedula" rows="1"/>
            <label for="exampleFormControlTextarea2">Correo</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea3" name="correo" [(ngModel)]="distribuidorGrafico.correo" rows="1"/>
            <label for="exampleFormControlTextarea3">Contraseña Temporal</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea4" name="contrasenia" [(ngModel)]="distribuidorGrafico.contrasenia" rows="1"/>
            <label for="exampleFormControlTextarea2">Tipo de distribuidor</label>
            <select class="form-control"  name="cod_t_empleado" [(ngModel)]="distribuidorGrafico.cod_t_distribuidor" >
              <option value="0">Selecciona una opción</option>
              <option value="1">Básico</option>
              <option value="2">Premium</option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary" (click)=nuevoDistribuidor()>Crear Distribuidor</button>
      </form>
  </div>
  <div class="col-5">
      <img class="imgResponsive rounded-circle mx-auto d-block" src="../../../assets/images/empleado.png">
    </div>

</div>