<div class="row" align="center">
    <div class="col-12"><h1>¡Bienvenido a Chibchaweb @UserName!</h1></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12"><img class="imgResponsive" src="../../../assets/images/LogoCW.jpg"></div>
      </div>
      <div class="row">
          <div class="col-12">
            <h2 align="center">Información</h2>
          </div>
          <div class="col-12">
            <h5 align="center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates porro molestias, a eligendi vitae. Explicabo sequi sint, odit iure itaque consectetur nesciunt expedita quas nam? Eligendi iste maiores magni!</h5>
          </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12" align="center"><h3>Planes Disponibles</h3></div>
      </div>
      <div class="row">
        <div class="col-4"><img class="imgResponsive2" src="../../../assets/images/LogoCW.jpg"></div>

        <div class="col-4"><img class="imgResponsive2" src="../../../assets/images/LogoCW.jpg"></div>
        
        <div class="col-4"><img class="imgResponsive2" src="../../../assets/images/LogoCW.jpg"></div>
      </div>
  </div>
  
  </div>