  <div class="row" align="center">
    <div class="col-12"><h1>¡ChibchaWeb te da la bienvenida, {{clienteGrafico.nombre}}!</h1></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12" align="center"><h3>Planes Disponibles</h3></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="../../../assets/images/Plata.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chibcha - Plata</h5>
                <p class="card-text">Utiliza el paquete ¡CHIBCHA - PLATA! para acceder a los mejores host para páginas básicas</p>
              </div>
            </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="../../../assets/images/Oro.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chibcha - Oro</h5>
                <p class="card-text">Utiliza el paquete ¡CHIBCHA - ORO! para acceder a los mejores host para páginas de mediana escala</p>
              </div>
            </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="../../../assets/images/Platino.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chibcha - Platino</h5>
                <p class="card-text">Utiliza el paquete ¡CHIBCHA - PLATINO! para acceder a los mejores host para páginas grandes</p>
              </div>
            </div>
        </div>
      </div>
  </div>
  <br/>
  <div class="row">
      <div class="col-8">
        <br/>
        <br/>
        <br/>
        <h2 align="center">Información</h2>
        <h5 align="center">ChibchaWeb es un intermediario entre sus clientes y los registradores de dominio con el objetivo de facilitar la prestacion del servicio de los registradores a nuestros clientes.</h5>
      </div>
      <div class="col-3">
        <br/>
        <img class="imgResponsive" align="center" src="../../../assets/images/chiblogo.png">
      </div>
  </div>
</div>