<br/>
<br/>
<br/>
<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-warning">Listado de Registradores</span></h1>
    <h1 align="center">Aquí podrás ver la información de todos los Registradores que estan con ChibchaWeb</h1>
  </div>
</div>


<table class="table table-sm" >
  <thead class="table-warning">
  <tr >
    <th scope="col">Nombre del cliente</th>
    <th scope="col">Correo</th>
    <th scope="col"> </th>
  </tr>
  </thead>
  <tbody class="bg-light" *ngFor="let list of listadoRegistradoresG">
  <tr>
    <th scope="row">{{list.nombre}}</th>
    <td>{{list.correo}}</td>
    <td>
      <button mat-button (click)="navegar(list.cod_registrador)">Mas Informacion</button>
    </td>
  </tr>
  </tbody>
</table>

