<div class="row">
  <div class="col-12">
    <h1 align="center"><span class="badge badge-secondary">Nuevo Cliente</span></h1>
    <h1 align="center">Agrega aquí a tus clientes</h1>
  </div>
</div>
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
      <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Numero de identificacion del cliente</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="1"/>
            <label for="exampleFormControlTextarea2">Nombre del cliente</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea2" rows="1"/>
            <label for="exampleFormControlTextarea2">Correo del cliente</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea2" rows="1"/>
            <label for="exampleFormControlTextarea2">Contraseña temporal</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea2" rows="1"/>
            <label for="exampleFormControlTextarea2">Paquete Chibchaweb</label>
            <select class="form-control">
                <option value="0">Selecciona una opción</option>
                <option value="1">Chibcha Platino</option>
                <option value="2">Chibcha Plata</option>
                <option value="3">Chibcha Oro</option>
              </select>
            <label for="exampleFormControlTextarea2">Frecuencia de pago</label>
            <select class="form-control">
              <option value="0">Selecciona una opción</option>
              <option value="1">Mensual</option>
              <option value="2">Trimestral</option>
              <option value="3">Semestral</option>
              <option value="4">Anual</option>
            </select>
            <label for="exampleFormControlTextarea3">Frecuencia de pago</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea3" rows="1"/>

          </div>
        <button type="submit" class="btn btn-primary">Crear cliente</button>
      </form>
  </div>
  <div class="col-3">
    
  </div>
 
</div>