<div class="row" align="center">
  <div class="col-12"><h1>¡Bienvenido a Chibchaweb {{nombreEmpleado}}!</h1></div>
</div>
<br/>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12" align="center"><h3>Nuestros Hosts principales!</h3></div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/servidor1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hostinger</h5>
            <p class="card-text">
              El host más popular entre los usuarios!
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/servidor2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">HOSTGATOR</h5>
            <p class="card-text">
              Se te escapa el miedo
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/servidor4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Webempresa</h5>
            <p class="card-text">
              Los servidore más estables y seguros!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-8">
    <br>
    <br>
    <h2 align="center">Importante!</h2>
    <p align="center" style="text-align: justify">
      El servicio a nuestros cliente es lo más importante para nosotros, por eso te pedimos que respondas lo más pronto
      posible y de la mejor manera!
    </p>
  </div>
  <div class="col-3">
    <br>
    <img class="imgResponsive" align="center" src="../../../assets/images/chiblogo.png">
  </div>
</div>
