<mat-grid-list class="container" cols="2" rowHeight="2:1">
  <mat-grid-tile colspan="2">
    <h1 class="titulo">Bienvenido {{nombreEmpleado}}!</h1>
  </mat-grid-tile>

  <mat-grid-tile>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate incidunt laborum quaerat! Consequatur
      iste laborum nihil perspiciatis tempora? Earum esse illo itaque molestias porro reiciendis sunt suscipit ullam.
      Tempora!
    </p>
  </mat-grid-tile>

  <mat-grid-tile>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis doloremque dolores, doloribus
      ducimus ea et facere in ipsa itaque magnam modi nam nihil odit quasi quod sunt ullam voluptas.
    </p>
  </mat-grid-tile>
</mat-grid-list>
